<footer class="pt-3 mt-4 text-muted border-top">
    <div class="container py-4">
        <button class="accordion-button" data-bs-toggle="collapse" 
        href="#footerCollapse" aria-expanded="false" aria-controls="footerCollapse">
            <p>links</p>
        </button>
        <div class="collapse" id="footerCollapse">
            <div class="card card-body">
                <p>
                    <a href="index.html">Back to Home</a>
                </p>
                <p>
                    <span style="text-decoration: underline; color:black;">Email</span> <span class="copy-btn" id="copy-email">ptrck.ship@gmail.com <i id="copy-sticky" class="bi bi-sticky"></i></span> (just copy and paste, no one likes mailtos anyway.)
                </p>
                <p>
                    <a target=_blank href="https://www.linkedin.com/in/patrick-shipley-059893126/"><span style="text-decoration: underline; color:blue;">Linkedin</span></a> (To be honest I don't use LinkedIn a ton, but there should be some helpful things there!)
                </p>
                <p>
                    <a target=_blank href="https://www.youtube.com/channel/UCOn0w3PUTgHmFdO0K2e9sKg"><span style="text-decoration: underline; color:red;">YouTube</span></a> (Some vlogs I made once upon a time and other videos I am in.)
                </p>
            </div>
        </div>
    </div>
</footer> 